@font-face {
  font-family: 'open_sansregular';
  src:
    url('./fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('./fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #00b14f;
  --form-text-color: #f6f6f6;
  --secondary-color: #1d2b3a;
  --form-background-color: #1f3148;
  --font-style: 'open_sansregular', sans-serif;
  --nav-box-shadow: 0 4px 6px rgba(0, 177, 79, 0.5);
  --form-box-shadow:
    0 4px 10px rgba(31, 49, 72, 0.6), 0 2px 5px rgba(0, 0, 0, 0.3);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'open_sanregular', sans-serif;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

button {
  border-radius: 0.5rem;
  font-family: inherit;
  font-weight: bold;
  border: none;
  background-color: var(--primary-color);
  color: var(--form-text-color);
}

nav {
  background-color: var(--primary-color);
  padding: 1.5rem 3rem;
  margin: 1rem 1.25rem;
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  box-shadow: var(--nav-box-shadow);
}

nav .links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

nav .links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.75rem;
}

nav .links a i {
  color: white;
  font-size: 1.5rem;
}

main .home {
  margin: 2rem 5rem;
}

main .home .home-header {
  margin-bottom: 0.5rem;
}

main .home .card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

main .card {
  background-color: var(--form-background-color);
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  color: var(--form-text-color);
  box-shadow: var(--form-box-shadow);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

main .card-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

main .card-date {
  display: flex;
  gap: 0.25rem;
}

main .home .open-button,
main .details .return-button {
  opacity: 0;
  transition: opacity 0.2s ease;
  padding: 0.5rem 1rem;
}

main .home .card:hover .open-button,
main .details .card:hover .return-button {
  opacity: 1;
}

main .new-message {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

main .new-message .new-message-form {
  background-color: var(--form-background-color);
  padding: 2rem 3rem;
  box-shadow: var(--form-box-shadow);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

main .new-message .input-wrapper {
  display: flex;
  flex-direction: column;
}

main .new-message .input-wrapper label {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

main .new-message .input-wrapper input,
main .new-message .input-wrapper textarea {
  background-color: inherit;
  font-size: 1.1rem;
  font-family: inherit;
  color: var(--form-text-color);
  border: none;
  border-bottom: 2px solid var(--primary-color);
  padding: 0.5rem 0.25rem;
}

main .new-message .input-wrapper input:focus,
main .new-message .input-wrapper textarea:focus {
  outline: none;
  border: none;
  border-bottom: 4px solid var(--primary-color);
}

main .new-message .submit-button {
  width: 50%;
  font-size: 1.15rem;
  padding: 0.5rem 1rem;
  align-self: center;
}

main .new-message .submit-button:hover {
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
  cursor: pointer;
}

main .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 5rem;
}

main .details .card {
  width: 100%;
}
